desktop.ini
.vscode/settings.json
.idea/inspectionProfiles/._profiles_settings.xml
.idea/._.gitignore
.idea/._inspectionProfiles
.idea/._misc.xml
.idea/._modules.xml
.idea/._Python.iml
.vscode/._settings.json
exercises/practice1/._main.py
exercises/practice2/._main.py
.idea/._vcs.xml
.idea/._workspace.xml
exercises/practice3/._main.py
exercises/practice4/._main.py
exercises/practice5/._main.py
exercises/practice6/._main.py
exercises/practice7/7.1_utiliserSplit/._main.py
exercises/practice7/7.2_utiliserJoin/._main.py
exercises/practice7/7.3_utiliserSlice/._main.py
exercises/practice7/7.4_utiliserLen/._main.py
exercises/practice7/._7.1_utiliserSplit
exercises/practice7/._7.2_utiliserJoin
exercises/practice7/._7.3_utiliserSlice
exercises/practice7/._7.4_utiliserLen
exercises/practice7/._main.py
exercises/practice8/8.1_boucleWhile/._main.py
exercises/practice8/8.1_boucleWhile/._overview.png
exercises/practice8/8.1_boucleWhile/._readme.md
exercises/practice8/8.2_boucleEtContinue/._main.py
exercises/practice8/8.3_nbPremier/._main.py
exercises/practice8/8.3_nbPremier/._overview.png
exercises/practice8/8.3_nbPremier/._readme.md
exercises/practice8/._8.1_boucleWhile
exercises/practice8/._8.2_boucleEtContinue
exercises/practice8/._8.3_nbPremier
exercises/practice8/._readme.md
exercises/practice9/._.gitkeep
exercises/._practice1
exercises/._practice2
exercises/._practice3
exercises/._practice4
exercises/._practice5
exercises/._practice6
exercises/._practice7
exercises/._practice8
exercises/._practice9
src/images/._Python_logo_and_wordmark.svg
src/images/._Python-logo-notext.svg
src/screenshots/._calculateurDeSalaireHebdomadaire.png
src/._images
src/._screenshots
._.git
._.gitignore
._.idea
._.vscode
._exercises
._filmBudgets
._FizzBuzz
._miniProjet
._readme.md
._src
exercises/practice20/readme.md
miniProjets/networkAdressMask/__pycache__/conversion.cpython-311.pyc
miniProjets/jsonList/.idea/jsonList.iml
miniProjets/jsonList/.idea/misc.xml
miniProjets/jsonList/.idea/modules.xml
miniProjets/jsonList/.idea/vcs.xml
miniProjets/jsonList/.idea/workspace.xml
miniProjets/jsonList/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/DocBot/.idea/.gitignore
miniProjets/DocBot/.idea/DocBot.iml
miniProjets/DocBot/.idea/misc.xml
miniProjets/DocBot/.idea/modules.xml
miniProjets/DocBot/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/dictionaryOfCities/.idea/.gitignore
miniProjets/dictionaryOfCities/.idea/dictionaryOfCities.iml
miniProjets/dictionaryOfCities/.idea/misc.xml
miniProjets/dictionaryOfCities/.idea/modules.xml
miniProjets/dictionaryOfCities/.idea/vcs.xml
miniProjets/dictionaryOfCities/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/characterManagement/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/characterManagement/.idea/.gitignore
miniProjets/characterManagement/.idea/characterManagement.iml
miniProjets/characterManagement/.idea/misc.xml
miniProjets/characterManagement/.idea/modules.xml
miniProjets/characterManagement/.idea/vcs.xml
miniProjets/drawGraphs/__pycache__/chart.cpython-311.pyc
miniProjets/drawGraphs/__pycache__/dataStorage.cpython-311.pyc
miniProjets/drawGraphs/.idea/drawGraphs.iml
miniProjets/drawGraphs/.idea/misc.xml
miniProjets/drawGraphs/.idea/modules.xml
miniProjets/drawGraphs/.idea/vcs.xml
miniProjets/drawGraphs/.idea/workspace.xml
miniProjets/drawGraphs/.idea/inspectionProfiles/profiles_settings.xml
