desktop.ini
.vscode/settings.json
.idea/inspectionProfiles/._profiles_settings.xml
.idea/._.gitignore
.idea/._inspectionProfiles
.idea/._misc.xml
.idea/._modules.xml
.idea/._Python.iml
.vscode/._settings.json
exercises/practice1/._main.py
exercises/practice2/._main.py
.idea/._vcs.xml
.idea/._workspace.xml
exercises/practice3/._main.py
exercises/practice4/._main.py
exercises/practice5/._main.py
exercises/practice6/._main.py
exercises/practice7/7.1_utiliserSplit/._main.py
exercises/practice7/7.2_utiliserJoin/._main.py
exercises/practice7/7.3_utiliserSlice/._main.py
exercises/practice7/7.4_utiliserLen/._main.py
exercises/practice7/._7.1_utiliserSplit
exercises/practice7/._7.2_utiliserJoin
exercises/practice7/._7.3_utiliserSlice
exercises/practice7/._7.4_utiliserLen
exercises/practice7/._main.py
exercises/practice8/8.1_boucleWhile/._main.py
exercises/practice8/8.1_boucleWhile/._overview.png
exercises/practice8/8.1_boucleWhile/._readme.md
exercises/practice8/8.2_boucleEtContinue/._main.py
exercises/practice8/8.3_nbPremier/._main.py
exercises/practice8/8.3_nbPremier/._overview.png
exercises/practice8/8.3_nbPremier/._readme.md
exercises/practice8/._8.1_boucleWhile
exercises/practice8/._8.2_boucleEtContinue
exercises/practice8/._8.3_nbPremier
exercises/practice8/._readme.md
exercises/practice9/._.gitkeep
exercises/._practice1
exercises/._practice2
exercises/._practice3
exercises/._practice4
exercises/._practice5
exercises/._practice6
exercises/._practice7
exercises/._practice8
exercises/._practice9
src/images/._Python_logo_and_wordmark.svg
src/images/._Python-logo-notext.svg
src/screenshots/._calculateurDeSalaireHebdomadaire.png
src/._images
src/._screenshots
._.git
._.gitignore
._.idea
._.vscode
._exercises
._filmBudgets
._FizzBuzz
._miniProjet
._readme.md
._src
exercises/practice20/readme.md
miniProjets/networkAdressMask/__pycache__/conversion.cpython-311.pyc
miniProjets/jsonList/.idea/jsonList.iml
miniProjets/jsonList/.idea/misc.xml
miniProjets/jsonList/.idea/modules.xml
miniProjets/jsonList/.idea/vcs.xml
miniProjets/jsonList/.idea/workspace.xml
miniProjets/jsonList/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/DocBot/.idea/.gitignore
miniProjets/DocBot/.idea/DocBot.iml
miniProjets/DocBot/.idea/misc.xml
miniProjets/DocBot/.idea/modules.xml
miniProjets/DocBot/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/dictionaryOfCities/.idea/.gitignore
miniProjets/dictionaryOfCities/.idea/dictionaryOfCities.iml
miniProjets/dictionaryOfCities/.idea/misc.xml
miniProjets/dictionaryOfCities/.idea/modules.xml
miniProjets/dictionaryOfCities/.idea/vcs.xml
miniProjets/dictionaryOfCities/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/characterManagement/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/characterManagement/.idea/.gitignore
miniProjets/characterManagement/.idea/characterManagement.iml
miniProjets/characterManagement/.idea/misc.xml
miniProjets/characterManagement/.idea/modules.xml
miniProjets/characterManagement/.idea/vcs.xml
miniProjets/drawGraphs/__pycache__/chart.cpython-311.pyc
miniProjets/drawGraphs/__pycache__/dataStorage.cpython-311.pyc
miniProjets/drawGraphs/.idea/drawGraphs.iml
miniProjets/drawGraphs/.idea/misc.xml
miniProjets/drawGraphs/.idea/modules.xml
miniProjets/drawGraphs/.idea/vcs.xml
miniProjets/drawGraphs/.idea/workspace.xml
miniProjets/drawGraphs/.idea/inspectionProfiles/profiles_settings.xml
.gitkeep
assets/1A79E1A333BF815BB1D201890DA8A317.jpg
assets/Firefly Hyperdetailed, A digitally created epic brilliant lavish detailed image presenting a story o (1).jpg
assets/snake.jpg
projets/firstChatbot/main - apiKey.py
.idea/._dataSources.local.xml
.idea/._dataSources.xml
.idea/._icon.svg
docs/._django
docs/._qt
docs/django/._dtl
docs/django/dtl/._balises
docs/qt/._anatomyOfAnApp
docs/qt/._bindings
docs/django/._dtl
docs/django/dtl/._balises
docs/django/dtl/._balises
docs/django/dtl/._balises
docs/django/._dtl
docs/qt/._anatomyOfAnApp
docs/qt/._bindings
docs/qt/._anatomyOfAnApp
docs/qt/._bindings
docs/._django
docs/._qt
exercises/._practice10
exercises/._practice11
exercises/._practice12
exercises/._practice13
exercises/._practice14
exercises/._practice15
exercises/._practice16
exercises/._practice17
exercises/._practice18
exercises/._practice19
exercises/._practice20
exercises/._practice21
exercises/._practice22
exercises/._practice23
exercises/._practice24
exercises/practice10/._10.1_convertirTuple
exercises/practice10/._10.2_key
exercises/practice10/._10.3_modifier
exercises/practice10/._10.4_keyError
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice11/._11.1_creer
exercises/practice11/._11.2_ajout
exercises/practice11/._11.3_deuxiemeEnsemble
exercises/practice11/._11.4_operations
exercises/practice11/._11.5_range
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice12/._12.1_definir
exercises/practice12/._12.2
exercises/practice12/._12.3
exercises/practice12/._124
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.3/._main.py
exercises/practice12/124/._main.py
exercises/practice13/._13.1_exponentiate
exercises/practice13/._13.2
exercises/practice13/._13.3
exercises/practice13/._13.4
exercises/practice13/13.1_exponentiate/._main.py
exercises/practice13/13.2/._main.py
exercises/practice13/13.3/._main.py
exercises/practice13/13.4/._main.py
exercises/practice14/._14.1
exercises/practice14/._14.2
exercises/practice14/._14.3
exercises/practice14/14.1/._hello_world.txt
exercises/practice14/14.1/._main.py
exercises/practice14/14.2/._hello_world.txt
exercises/practice14/14.2/._main.py
exercises/practice14/14.3/._iris_2.csv
exercises/practice14/14.3/._main.py
exercises/practice15/._15.1
exercises/practice15/._15.2
exercises/practice15/15.1/._main.py
exercises/practice15/15.2/._main.py
exercises/practice16/._16.1
exercises/practice16/._16.2
exercises/practice16/._16.3
exercises/practice16/16.1/._main.py
exercises/practice16/16.2/._main.py
exercises/practice16/16.3/._main.py
exercises/practice17/._17.1
exercises/practice17/._17.2
exercises/practice17/._17.3
exercises/practice17/._17.4
exercises/practice17/._17.5
exercises/practice17/17.1/._main.py
exercises/practice17/17.2/._main.py
exercises/practice17/17.3/._main.py
exercises/practice17/17.4/._main.py
exercises/practice17/17.5/._main.py
exercises/practice18/._18.1
exercises/practice18/._18.2
exercises/practice18/._18.3
exercises/practice18/._18.4
exercises/practice18/18.1/._main.py
exercises/practice18/18.2/._main.py
exercises/practice18/18.3/._main.py
exercises/practice18/18.4/._main.py
exercises/practice19/._19.1
exercises/practice19/._19.2
exercises/practice19/._19.3
exercises/practice19/19.1/._main.py
exercises/practice19/19.2/._main.py
exercises/practice19/19.3/._data.txt
exercises/practice19/19.3/._main.py
exercises/practice20/._20.1
exercises/practice20/._20.2
exercises/practice20/._20.3
exercises/practice20/20.1/._main.py
exercises/practice20/20.2/._main.py
exercises/practice20/20.3/._main.py
exercises/practice21/._21.1
exercises/practice21/21.1/.___pycache__
exercises/practice21/21.1/._books.json
exercises/practice21/21.1/._database.py
exercises/practice21/21.1/._main.py
exercises/practice21/21.1/__pycache__/._database.cpython-311.pyc
exercises/practice22/._22.1
exercises/practice22/._22.2
exercises/practice22/22.1/._main.py
exercises/practice22/22.2/._main.py
exercises/practice23/._23.1
exercises/practice23/._23.2
exercises/practice23/._23.3
exercises/practice23/23.1/._main.py
exercises/practice23/23.2/._main.py
exercises/practice23/23.3/._main.py
exercises/practice24/._24.1
exercises/practice24/._24.2
exercises/practice24/._24.3
exercises/practice24/24.1/._main.py
exercises/practice24/24.2/._main.py
exercises/practice24/24.3/._main.py
exercises/practice9/._9.1_unpacking
exercises/practice9/._9.2_unpackingBoucleFor
exercises/practice9/._9.3_enumeration
exercises/practice9/._9.4_functionZip
exercises/practice9/._9.5_zipBoucle
exercises/practice9/._9.6_enumerateZip
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/._9.1_unpacking
exercises/practice9/._9.2_unpackingBoucleFor
exercises/practice9/._9.3_enumeration
exercises/practice9/._9.4_functionZip
exercises/practice9/._9.5_zipBoucle
exercises/practice9/._9.6_enumerateZip
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/._9.1_unpacking
exercises/practice9/._9.2_unpackingBoucleFor
exercises/practice9/._9.3_enumeration
exercises/practice9/._9.4_functionZip
exercises/practice9/._9.5_zipBoucle
exercises/practice9/._9.6_enumerateZip
exercises/practice10/._10.1_convertirTuple
exercises/practice10/._10.2_key
exercises/practice10/._10.3_modifier
exercises/practice10/._10.4_keyError
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice10/._10.1_convertirTuple
exercises/practice10/._10.2_key
exercises/practice10/._10.3_modifier
exercises/practice10/._10.4_keyError
exercises/practice11/._11.1_creer
exercises/practice11/._11.2_ajout
exercises/practice11/._11.3_deuxiemeEnsemble
exercises/practice11/._11.4_operations
exercises/practice11/._11.5_range
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice11/._11.1_creer
exercises/practice11/._11.2_ajout
exercises/practice11/._11.3_deuxiemeEnsemble
exercises/practice11/._11.4_operations
exercises/practice11/._11.5_range
exercises/practice12/._12.1_definir
exercises/practice12/._12.2
exercises/practice12/._12.3
exercises/practice12/._124
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.3/._main.py
exercises/practice12/124/._main.py
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.3/._main.py
exercises/practice12/12.3/._main.py
miniProjets/ageAndYearOfBirth/._main.py
miniProjets/bibliothequeMath/._main.py
miniProjets/bibliothequeMath/._main.py
miniProjets/booklist2/._books.csv
miniProjets/booklist2/._main.py
miniProjets/booklist2/._books.csv
miniProjets/booklist2/._main.py
miniProjets/bookslist/._main.py
miniProjets/bookslist/._main.py
miniProjets/calculator/._main.py
miniProjets/calculator/._main.py
miniProjets/characterManagement/._main.py
miniProjets/characterManagement/._main.py
miniProjets/creditCardValidator/._main.py
miniProjets/creditCardValidator/._main.py
miniProjets/dictionaryOfCities/._main.py
miniProjets/dictionaryOfCities/._main.py
miniProjets/DocBot/._.env
miniProjets/DocBot/._main.py
miniProjets/DocBot/.env/._config
miniProjets/DocBot/.env/._config
miniProjets/DocBot/.env/._config
miniProjets/DocBot/._.env
miniProjets/DocBot/._main.py
miniProjets/drawGraphs/._chart.py
miniProjets/drawGraphs/._dataStorage.py
miniProjets/drawGraphs/._iris.csv
miniProjets/drawGraphs/._main.py
miniProjets/drawGraphs/._chart.py
miniProjets/drawGraphs/._dataStorage.py
miniProjets/drawGraphs/._iris.csv
miniProjets/drawGraphs/._main.py
miniProjets/filmBudgets/._console.png
miniProjets/filmBudgets/._main.py
miniProjets/filmBudgets/._console.png
miniProjets/filmBudgets/._main.py
miniProjets/FizzBuzz/._assets
miniProjets/FizzBuzz/._main.py
miniProjets/FizzBuzz/assets/src/._img
miniProjets/FizzBuzz/assets/src/img/._scrennshot.png
miniProjets/FizzBuzz/assets/src/._img
miniProjets/FizzBuzz/assets/src/img/._scrennshot.png
miniProjets/FizzBuzz/assets/src/img/._scrennshot.png
miniProjets/FizzBuzz/assets/src/img/._scrennshot.png
miniProjets/FizzBuzz/assets/src/._img
miniProjets/FizzBuzz/._assets
miniProjets/FizzBuzz/._main.py
miniProjets/integerBinaryConversion/._main.py
miniProjets/integerBinaryConversion/._main.py
miniProjets/jsonList/._books.json
miniProjets/jsonList/._main.py
miniProjets/jsonList/._books.json
miniProjets/jsonList/._main.py
miniProjets/ListPrimeNumber/._main.py
miniProjets/ListPrimeNumber/._main.py
miniProjets/networkAdressMask/._conversion.py
miniProjets/networkAdressMask/._main.py
miniProjets/networkAdressMask/._conversion.py
miniProjets/networkAdressMask/._main.py
miniProjets/primeNomber/._main.py
miniProjets/primeNomber/._main.py
miniProjets/valueProduct/._main.py
miniProjets/valueProduct/._main.py
miniProjets/weeklySalaryCalculator/._main.py
miniProjets/weeklySalaryCalculator/._main.py
miniProjets/._ageAndYearOfBirth
miniProjets/._bibliothequeMath
miniProjets/._booklist2
miniProjets/._bookslist
miniProjets/._calculator
miniProjets/._characterManagement
miniProjets/._creditCardValidator
miniProjets/._dictionaryOfCities
miniProjets/._DocBot
miniProjets/._drawGraphs
miniProjets/._integerBinaryConversion
miniProjets/._jsonList
miniProjets/._ListPrimeNumber
miniProjets/._networkAdressMask
miniProjets/._primeNomber
miniProjets/._valueProduct
miniProjets/._weeklySalaryCalculator
projets/firstChatbot/.idea/inspectionProfiles/._profiles_settings.xml
projets/firstChatbot/.idea/._firstChatbot.iml
projets/firstChatbot/.idea/._inspectionProfiles
projets/firstChatbot/.idea/._misc.xml
projets/firstChatbot/.idea/._modules.xml
projets/firstChatbot/.idea/._vcs.xml
projets/firstChatbot/._main.py
projets/psswdBreaker/._liste_francais.txt
projets/psswdBreaker/._main.py
projets/psswdBreaker/.idea/._inspectionProfiles
projets/psswdBreaker/.idea/._misc.xml
projets/psswdBreaker/.idea/._modules.xml
projets/psswdBreaker/.idea/._psswdBreaker.iml
projets/psswdBreaker/.idea/._vcs.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/._inspectionProfiles
projets/psswdBreaker/.idea/._misc.xml
projets/psswdBreaker/.idea/._modules.xml
projets/psswdBreaker/.idea/._psswdBreaker.iml
projets/psswdBreaker/.idea/._vcs.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/._inspectionProfiles
projets/psswdBreaker/.idea/._misc.xml
projets/psswdBreaker/.idea/._modules.xml
projets/psswdBreaker/.idea/._psswdBreaker.iml
projets/psswdBreaker/.idea/._vcs.xml
projets/psswdBreaker/._liste_francais.txt
projets/psswdBreaker/._main.py
projets/._firstChatbot
projets/._psswdBreaker
src/images/._snake.png
src/images/._snake1.jpg
src/screenshots/._ageAndYearOfBirth.png
src/screenshots/._booklist2Csv.png
src/screenshots/._booklist2Screenshot.png
src/screenshots/._booklist2Search.png
src/screenshots/._calculator.png
src/screenshots/._ccv.png
src/screenshots/._characterManagement.png
src/screenshots/._dictionaryOfCities.png
src/screenshots/._integerBinaryConversion.png
src/screenshots/._jsonList.png
src/screenshots/._ListPrimeNumber.png
src/screenshots/._networkAdressMask.png
src/screenshots/._primeNumber.png
src/screenshots/._readinList.png
src/images/._snake.png
src/images/._snake1.jpg
src/images/._snake.png
src/images/._snake1.jpg
src/screenshots/._ageAndYearOfBirth.png
src/screenshots/._booklist2Csv.png
src/screenshots/._booklist2Screenshot.png
src/screenshots/._booklist2Search.png
src/screenshots/._calculator.png
src/screenshots/._ccv.png
src/screenshots/._characterManagement.png
src/screenshots/._dictionaryOfCities.png
src/screenshots/._integerBinaryConversion.png
src/screenshots/._jsonList.png
src/screenshots/._ListPrimeNumber.png
src/screenshots/._networkAdressMask.png
src/screenshots/._primeNumber.png
src/screenshots/._readinList.png
src/screenshots/._ageAndYearOfBirth.png
src/screenshots/._booklist2Csv.png
src/screenshots/._booklist2Screenshot.png
src/screenshots/._booklist2Search.png
src/screenshots/._calculator.png
src/screenshots/._ccv.png
src/screenshots/._characterManagement.png
src/screenshots/._dictionaryOfCities.png
src/screenshots/._integerBinaryConversion.png
src/screenshots/._jsonList.png
src/screenshots/._ListPrimeNumber.png
src/screenshots/._networkAdressMask.png
src/screenshots/._primeNumber.png
src/screenshots/._readinList.png
._docs
._miniProjets
._projets
