._.git
._.gitignore
._.idea
._.vscode
._exercises
._filmBudgets
._FizzBuzz
._miniProjet
._readme.md
._assets
.DS_Store
.idea/
.vscode/
desktop.ini
exercises/practice20/readme.md
exercises/practice1/._main.py
exercises/practice2/._main.py
exercises/practice3/._main.py
exercises/practice4/._main.py
exercises/practice5/._main.py
exercises/practice6/._main.py
exercises/practice7/7.1_utiliserSplit/._main.py
exercises/practice7/7.2_utiliserJoin/._main.py
exercises/practice7/7.3_utiliserSlice/._main.py
exercises/practice7/7.4_utiliserLen/._main.py
exercises/practice7/._7.1_utiliserSplit
exercises/practice7/._7.2_utiliserJoin
exercises/practice7/._7.3_utiliserSlice
exercises/practice7/._7.4_utiliserLen
exercises/practice7/._main.py
exercises/practice8/8.1_boucleWhile/._main.py
exercises/practice8/8.1_boucleWhile/._overview.png
exercises/practice8/8.1_boucleWhile/._readme.md
exercises/practice8/8.2_boucleEtContinue/._main.py
exercises/practice8/8.3_nbPremier/._main.py
exercises/practice8/8.3_nbPremier/._overview.png
exercises/practice8/8.3_nbPremier/._readme.md
exercises/practice8/._8.1_boucleWhile
exercises/practice8/._8.2_boucleEtContinue
exercises/practice8/._8.3_nbPremier
exercises/practice8/._readme.md
exercises/practice9/._.gitkeep
exercises/._practice1
exercises/._practice2
exercises/._practice3
exercises/._practice4
exercises/._practice5
exercises/._practice6
exercises/._practice7
exercises/._practice8
exercises/._practice9
assets/images/._Python_logo_and_wordmark.svg
assets/images/._Python-logo-notext.svg
assets/screenshots/._calculateurDeSalaireHebdomadaire.png
assets/._images
assets/._screenshots
miniProjets/networkAdressMask/__pycache__/conversion.cpython-311.pyc
miniProjets/jsonList/.idea/jsonList.iml
miniProjets/jsonList/.idea/misc.xml
miniProjets/jsonList/.idea/modules.xml
miniProjets/jsonList/.idea/vcs.xml
miniProjets/jsonList/.idea/workspace.xml
miniProjets/jsonList/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/DocBot/.idea/.gitignore
miniProjets/DocBot/.idea/DocBot.iml
miniProjets/DocBot/.idea/misc.xml
miniProjets/DocBot/.idea/modules.xml
miniProjets/DocBot/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/dictionaryOfCities/.idea/.gitignore
miniProjets/dictionaryOfCities/.idea/dictionaryOfCities.iml
miniProjets/dictionaryOfCities/.idea/misc.xml
miniProjets/dictionaryOfCities/.idea/modules.xml
miniProjets/dictionaryOfCities/.idea/vcs.xml
miniProjets/dictionaryOfCities/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/characterManagement/.idea/inspectionProfiles/profiles_settings.xml
miniProjets/characterManagement/.idea/.gitignore
miniProjets/characterManagement/.idea/characterManagement.iml
miniProjets/characterManagement/.idea/misc.xml
miniProjets/characterManagement/.idea/modules.xml
miniProjets/characterManagement/.idea/vcs.xml
miniProjets/drawGraphs/__pycache__/chart.cpython-311.pyc
miniProjets/drawGraphs/__pycache__/dataStorage.cpython-311.pyc
miniProjets/drawGraphs/.idea/drawGraphs.iml
miniProjets/drawGraphs/.idea/misc.xml
miniProjets/drawGraphs/.idea/modules.xml
miniProjets/drawGraphs/.idea/vcs.xml
miniProjets/drawGraphs/.idea/workspace.xml
miniProjets/drawGraphs/.idea/inspectionProfiles/profiles_settings.xml
.gitkeep
assets/1A79E1A333BF815BB1D201890DA8A317.jpg
assets/Firefly Hyperdetailed, A digitally created epic brilliant lavish detailed image presenting a story o (1).jpg
assets/snake.jpg
projets/firstChatbot/main - apiKey.py
docs/._django
docs/._qt
docs/django/._dtl
docs/django/dtl/._balises
docs/qt/._anatomyOfAnApp
docs/qt/._bindings
docs/django/._dtl
docs/django/dtl/._balises
docs/django/dtl/._balises
docs/django/dtl/._balises
docs/django/._dtl
docs/qt/._anatomyOfAnApp
docs/qt/._bindings
docs/qt/._anatomyOfAnApp
docs/qt/._bindings
docs/._django
docs/._qt
exercises/._practice10
exercises/._practice11
exercises/._practice12
exercises/._practice13
exercises/._practice14
exercises/._practice15
exercises/._practice16
exercises/._practice17
exercises/._practice18
exercises/._practice19
exercises/._practice20
exercises/._practice21
exercises/._practice22
exercises/._practice23
exercises/._practice24
exercises/practice10/._10.1_convertirTuple
exercises/practice10/._10.2_key
exercises/practice10/._10.3_modifier
exercises/practice10/._10.4_keyError
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice11/._11.1_creer
exercises/practice11/._11.2_ajout
exercises/practice11/._11.3_deuxiemeEnsemble
exercises/practice11/._11.4_operations
exercises/practice11/._11.5_range
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice12/._12.1_definir
exercises/practice12/._12.2
exercises/practice12/._12.3
exercises/practice12/._124
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.3/._main.py
exercises/practice12/124/._main.py
exercises/practice13/._13.1_exponentiate
exercises/practice13/._13.2
exercises/practice13/._13.3
exercises/practice13/._13.4
exercises/practice13/13.1_exponentiate/._main.py
exercises/practice13/13.2/._main.py
exercises/practice13/13.3/._main.py
exercises/practice13/13.4/._main.py
exercises/practice14/._14.1
exercises/practice14/._14.2
exercises/practice14/._14.3
exercises/practice14/14.1/._hello_world.txt
exercises/practice14/14.1/._main.py
exercises/practice14/14.2/._hello_world.txt
exercises/practice14/14.2/._main.py
exercises/practice14/14.3/._iris_2.csv
exercises/practice14/14.3/._main.py
exercises/practice15/._15.1
exercises/practice15/._15.2
exercises/practice15/15.1/._main.py
exercises/practice15/15.2/._main.py
exercises/practice16/._16.1
exercises/practice16/._16.2
exercises/practice16/._16.3
exercises/practice16/16.1/._main.py
exercises/practice16/16.2/._main.py
exercises/practice16/16.3/._main.py
exercises/practice17/._17.1
exercises/practice17/._17.2
exercises/practice17/._17.3
exercises/practice17/._17.4
exercises/practice17/._17.5
exercises/practice17/17.1/._main.py
exercises/practice17/17.2/._main.py
exercises/practice17/17.3/._main.py
exercises/practice17/17.4/._main.py
exercises/practice17/17.5/._main.py
exercises/practice18/._18.1
exercises/practice18/._18.2
exercises/practice18/._18.3
exercises/practice18/._18.4
exercises/practice18/18.1/._main.py
exercises/practice18/18.2/._main.py
exercises/practice18/18.3/._main.py
exercises/practice18/18.4/._main.py
exercises/practice19/._19.1
exercises/practice19/._19.2
exercises/practice19/._19.3
exercises/practice19/19.1/._main.py
exercises/practice19/19.2/._main.py
exercises/practice19/19.3/._data.txt
exercises/practice19/19.3/._main.py
exercises/practice20/._20.1
exercises/practice20/._20.2
exercises/practice20/._20.3
exercises/practice20/20.1/._main.py
exercises/practice20/20.2/._main.py
exercises/practice20/20.3/._main.py
exercises/practice21/._21.1
exercises/practice21/21.1/.___pycache__
exercises/practice21/21.1/._books.json
exercises/practice21/21.1/._database.py
exercises/practice21/21.1/._main.py
exercises/practice21/21.1/__pycache__/._database.cpython-311.pyc
exercises/practice22/._22.1
exercises/practice22/._22.2
exercises/practice22/22.1/._main.py
exercises/practice22/22.2/._main.py
exercises/practice23/._23.1
exercises/practice23/._23.2
exercises/practice23/._23.3
exercises/practice23/23.1/._main.py
exercises/practice23/23.2/._main.py
exercises/practice23/23.3/._main.py
exercises/practice24/._24.1
exercises/practice24/._24.2
exercises/practice24/._24.3
exercises/practice24/24.1/._main.py
exercises/practice24/24.2/._main.py
exercises/practice24/24.3/._main.py
exercises/practice9/._9.1_unpacking
exercises/practice9/._9.2_unpackingBoucleFor
exercises/practice9/._9.3_enumeration
exercises/practice9/._9.4_functionZip
exercises/practice9/._9.5_zipBoucle
exercises/practice9/._9.6_enumerateZip
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/._9.1_unpacking
exercises/practice9/._9.2_unpackingBoucleFor
exercises/practice9/._9.3_enumeration
exercises/practice9/._9.4_functionZip
exercises/practice9/._9.5_zipBoucle
exercises/practice9/._9.6_enumerateZip
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.1_unpacking/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.2_unpackingBoucleFor/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.3_enumeration/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.4_functionZip/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.5_zipBoucle/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/9.6_enumerateZip/._main.py
exercises/practice9/._9.1_unpacking
exercises/practice9/._9.2_unpackingBoucleFor
exercises/practice9/._9.3_enumeration
exercises/practice9/._9.4_functionZip
exercises/practice9/._9.5_zipBoucle
exercises/practice9/._9.6_enumerateZip
exercises/practice10/._10.1_convertirTuple
exercises/practice10/._10.2_key
exercises/practice10/._10.3_modifier
exercises/practice10/._10.4_keyError
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.1_convertirTuple/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.2_key/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.3_modifier/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice10/10.4_keyError/._main.py
exercises/practice10/._10.1_convertirTuple
exercises/practice10/._10.2_key
exercises/practice10/._10.3_modifier
exercises/practice10/._10.4_keyError
exercises/practice11/._11.1_creer
exercises/practice11/._11.2_ajout
exercises/practice11/._11.3_deuxiemeEnsemble
exercises/practice11/._11.4_operations
exercises/practice11/._11.5_range
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.1_creer/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.2_ajout/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.3_deuxiemeEnsemble/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.4_operations/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice11/11.5_range/._main.py
exercises/practice11/._11.1_creer
exercises/practice11/._11.2_ajout
exercises/practice11/._11.3_deuxiemeEnsemble
exercises/practice11/._11.4_operations
exercises/practice11/._11.5_range
exercises/practice12/._12.1_definir
exercises/practice12/._12.2
exercises/practice12/._12.3
exercises/practice12/._124
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.3/._main.py
exercises/practice12/124/._main.py
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.1_definir/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.2/._main.py
exercises/practice12/12.3/._main.py
exercises/practice12/12.3/._main.py
miniProjets/ageAndYearOfBirth/._main.py
miniProjets/bibliothequeMath/._main.py
miniProjets/bibliothequeMath/._main.py
miniProjets/booklist2/._books.csv
miniProjets/booklist2/._main.py
miniProjets/booklist2/._books.csv
miniProjets/booklist2/._main.py
miniProjets/bookslist/._main.py
miniProjets/bookslist/._main.py
miniProjets/calculator/._main.py
miniProjets/calculator/._main.py
miniProjets/characterManagement/._main.py
miniProjets/characterManagement/._main.py
miniProjets/creditCardValidator/._main.py
miniProjets/creditCardValidator/._main.py
miniProjets/dictionaryOfCities/._main.py
miniProjets/dictionaryOfCities/._main.py
miniProjets/DocBot/._.env
miniProjets/DocBot/._main.py
miniProjets/DocBot/.env/._config
miniProjets/DocBot/.env/._config
miniProjets/DocBot/.env/._config
miniProjets/DocBot/._.env
miniProjets/DocBot/._main.py
miniProjets/drawGraphs/._chart.py
miniProjets/drawGraphs/._dataStorage.py
miniProjets/drawGraphs/._iris.csv
miniProjets/drawGraphs/._main.py
miniProjets/drawGraphs/._chart.py
miniProjets/drawGraphs/._dataStorage.py
miniProjets/drawGraphs/._iris.csv
miniProjets/drawGraphs/._main.py
miniProjets/filmBudgets/._console.png
miniProjets/filmBudgets/._main.py
miniProjets/filmBudgets/._console.png
miniProjets/filmBudgets/._main.py
miniProjets/FizzBuzz/._assets
miniProjets/FizzBuzz/._main.py
miniProjets/FizzBuzz/assets/assets/._img
miniProjets/FizzBuzz/assets/assets/img/._scrennshot.png
miniProjets/FizzBuzz/assets/assets/._img
miniProjets/FizzBuzz/assets/assets/img/._scrennshot.png
miniProjets/FizzBuzz/assets/assets/img/._scrennshot.png
miniProjets/FizzBuzz/assets/assets/img/._scrennshot.png
miniProjets/FizzBuzz/assets/assets/._img
miniProjets/FizzBuzz/._assets
miniProjets/FizzBuzz/._main.py
miniProjets/integerBinaryConversion/._main.py
miniProjets/integerBinaryConversion/._main.py
miniProjets/jsonList/._books.json
miniProjets/jsonList/._main.py
miniProjets/jsonList/._books.json
miniProjets/jsonList/._main.py
miniProjets/ListPrimeNumber/._main.py
miniProjets/ListPrimeNumber/._main.py
miniProjets/networkAdressMask/._conversion.py
miniProjets/networkAdressMask/._main.py
miniProjets/networkAdressMask/._conversion.py
miniProjets/networkAdressMask/._main.py
miniProjets/primeNomber/._main.py
miniProjets/primeNomber/._main.py
miniProjets/valueProduct/._main.py
miniProjets/valueProduct/._main.py
miniProjets/weeklySalaryCalculator/._main.py
miniProjets/weeklySalaryCalculator/._main.py
miniProjets/._ageAndYearOfBirth
miniProjets/._bibliothequeMath
miniProjets/._booklist2
miniProjets/._bookslist
miniProjets/._calculator
miniProjets/._characterManagement
miniProjets/._creditCardValidator
miniProjets/._dictionaryOfCities
miniProjets/._DocBot
miniProjets/._drawGraphs
miniProjets/._integerBinaryConversion
miniProjets/._jsonList
miniProjets/._ListPrimeNumber
miniProjets/._networkAdressMask
miniProjets/._primeNomber
miniProjets/._valueProduct
miniProjets/._weeklySalaryCalculator
projets/firstChatbot/.idea/inspectionProfiles/._profiles_settings.xml
projets/firstChatbot/.idea/._firstChatbot.iml
projets/firstChatbot/.idea/._inspectionProfiles
projets/firstChatbot/.idea/._misc.xml
projets/firstChatbot/.idea/._modules.xml
projets/firstChatbot/.idea/._vcs.xml
projets/firstChatbot/._main.py
projets/psswdBreaker/._liste_francais.txt
projets/psswdBreaker/._main.py
projets/psswdBreaker/.idea/._inspectionProfiles
projets/psswdBreaker/.idea/._misc.xml
projets/psswdBreaker/.idea/._modules.xml
projets/psswdBreaker/.idea/._psswdBreaker.iml
projets/psswdBreaker/.idea/._vcs.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/._inspectionProfiles
projets/psswdBreaker/.idea/._misc.xml
projets/psswdBreaker/.idea/._modules.xml
projets/psswdBreaker/.idea/._psswdBreaker.iml
projets/psswdBreaker/.idea/._vcs.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/inspectionProfiles/._profiles_settings.xml
projets/psswdBreaker/.idea/._inspectionProfiles
projets/psswdBreaker/.idea/._misc.xml
projets/psswdBreaker/.idea/._modules.xml
projets/psswdBreaker/.idea/._psswdBreaker.iml
projets/psswdBreaker/.idea/._vcs.xml
projets/psswdBreaker/._liste_francais.txt
projets/psswdBreaker/._main.py
projets/._firstChatbot
projets/._psswdBreaker
assets/images/._snake.png
assets/images/._snake1.jpg
assets/screenshots/._ageAndYearOfBirth.png
assets/screenshots/._booklist2Csv.png
assets/screenshots/._booklist2Screenshot.png
assets/screenshots/._booklist2Search.png
assets/screenshots/._calculator.png
assets/screenshots/._ccv.png
assets/screenshots/._characterManagement.png
assets/screenshots/._dictionaryOfCities.png
assets/screenshots/._integerBinaryConversion.png
assets/screenshots/._jsonList.png
assets/screenshots/._ListPrimeNumber.png
assets/screenshots/._networkAdressMask.png
assets/screenshots/._primeNumber.png
assets/screenshots/._readinList.png
assets/images/._snake.png
assets/images/._snake1.jpg
assets/images/._snake.png
assets/images/._snake1.jpg
assets/screenshots/._ageAndYearOfBirth.png
assets/screenshots/._booklist2Csv.png
assets/screenshots/._booklist2Screenshot.png
assets/screenshots/._booklist2Search.png
assets/screenshots/._calculator.png
assets/screenshots/._ccv.png
assets/screenshots/._characterManagement.png
assets/screenshots/._dictionaryOfCities.png
assets/screenshots/._integerBinaryConversion.png
assets/screenshots/._jsonList.png
assets/screenshots/._ListPrimeNumber.png
assets/screenshots/._networkAdressMask.png
assets/screenshots/._primeNumber.png
assets/screenshots/._readinList.png
assets/screenshots/._ageAndYearOfBirth.png
assets/screenshots/._booklist2Csv.png
assets/screenshots/._booklist2Screenshot.png
assets/screenshots/._booklist2Search.png
assets/screenshots/._calculator.png
assets/screenshots/._ccv.png
assets/screenshots/._characterManagement.png
assets/screenshots/._dictionaryOfCities.png
assets/screenshots/._integerBinaryConversion.png
assets/screenshots/._jsonList.png
assets/screenshots/._ListPrimeNumber.png
assets/screenshots/._networkAdressMask.png
assets/screenshots/._primeNumber.png
assets/screenshots/._readinList.png
._docs
._miniProjets
._projets
._rollTheDices
miniProjets/FizzBuzz/assets/src/img/._scrennshot.png
miniProjets/FizzBuzz/assets/src/._img
miniProjets/FizzBuzz/assets/._src
assets/._Keras.svg
assets/._Tensorflow.png
docs/._keras
docs/._tensorflow
projets/._snake
projets/snake/._fn.py
projets/snake/._main.py
rollTheDices/._main.py
projets/django/docBlog/src/DocBlog/templates/._index.html
projets/django/docBlog/src/DocBlog/._settings.py
projets/django/docBlog/src/DocBlog/._urls.py
projets/django/docBlog/src/DocBlog/._views.py
projets/django/docBlog/.idea/inspectionProfiles/._profiles_settings.xml
projets/django/docBlog/.idea/._docBlog.iml
projets/django/docBlog/.idea/._inspectionProfiles
projets/django/docBlog/.idea/._misc.xml
projets/django/docBlog/.idea/._modules.xml
projets/django/docBlog/.idea/._vcs.xml
projets/django/docBlog/.idea/._workspace.xml
projets/django/docBlog/src/DocBlog/._templates
projets/django/docBlog/src/blog/migrations/.___init__.py
projets/django/docBlog/src/blog/.___init__.py
projets/django/docBlog/src/blog/._admin.py
projets/django/docBlog/src/blog/._apps.py
projets/django/docBlog/src/blog/._migrations
projets/django/docBlog/src/blog/._models.py
projets/django/docBlog/src/blog/._tests.py
projets/django/docBlog/src/blog/._views.py
projets/django/docBlog/src/._blog
projets/django/docBlog/src/blog/__pycache__/.___init__.cpython-312.pyc
projets/django/docBlog/src/blog/__pycache__/._admin.cpython-312.pyc
projets/django/docBlog/src/blog/__pycache__/._apps.cpython-312.pyc
projets/django/docBlog/src/blog/__pycache__/._models.cpython-312.pyc
projets/django/docBlog/src/blog/__pycache__/._urls.cpython-312.pyc
projets/django/docBlog/src/blog/__pycache__/._views.cpython-312.pyc
projets/django/docBlog/src/blog/migrations/__pycache__/.___init__.cpython-312.pyc
projets/django/docBlog/src/blog/migrations/.___pycache__
projets/django/docBlog/src/blog/.___pycache__
projets/django/docBlog/src/DocBlog/__pycache__/._settings.cpython-312.pyc
projets/django/docBlog/src/DocBlog/__pycache__/._urls.cpython-312.pyc
projets/django/docBlog/src/._db.sqlite3
projets/django/docBlog/src/blog/templates/blog/._article_01.html
projets/django/docBlog/src/blog/templates/blog/._article_02.html
projets/django/docBlog/src/blog/templates/blog/._article_not_found.html
projets/django/docBlog/src/blog/templates/._blog
projets/django/docBlog/src/blog/._templates
projets/django/docBlog/src/DocBlog/templates/DocBlog/._index.html
projets/django/docBlog/src/DocBlog/templates/._DocBlog
projets/django/docBlog/src/DocBlog/__pycache__/._views.cpython-312.pyc
projets/django/docBlog/src/blog/templates/blog/static/css/._style.css
projets/django/docBlog/src/blog/templates/blog/._static
projets/django/docBlog/src/blog/templates/blog/static/._css
projets/django/docBlog/._note.md
docs/samples/nativeTypes/._readme.md
docs/samples/nativeBuilders/._readme.md
._.cadence
.cadence/._configs
.idea/.gitignore
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/icon.svg
.idea/misc.xml
.idea/modules.xml
.idea/Python.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
._miniProjects
exercises/more/passwordChecker/._pwChecker.png
.gitignore
exercises/guessTheNumber/._screenshotWin.png
exercises/guessTheNumber/._screenshotLose.png
exercises/more/shoppingList2/._screenshot.png
assets/._Anaconda.svg
assets/._NumPy_2020.svg
assets/._numpy.svg
assets/diagrams/._dimension.png
assets/._Pandas.svg
assets/._Pandas_mark.svg
assets/._MatplotlibIcon.svg
assets/._seabornLogo.svg
Anaconda/.cadence/._configs
Anaconda/.idea/._Anaconda.iml
Anaconda/.idea/._inspectionProfiles
Anaconda/.idea/._misc.xml
Anaconda/.idea/._modules.xml
Anaconda/.idea/._vcs.xml
Anaconda/.idea/._workspace.xml
Anaconda/.idea/Anaconda.iml
Anaconda/.idea/misc.xml
Anaconda/.idea/modules.xml
Anaconda/.idea/vcs.xml
Anaconda/.idea/inspectionProfiles/._profiles_settings.xml
Anaconda/.idea/inspectionProfiles/profiles_settings.xml
Anaconda/._matplotlib
Anaconda/pandas/._Salaires.csv
Anaconda/pandas/._practice1.ipynb
Anaconda/pandas/._practice.ipynb
Anaconda/pandas/._dataset_mondial.csv
Anaconda/numpy/._exercices.ipynb
Anaconda/.idea/._icon.svg
Anaconda/.idea/icon.svg
assets/infography/._boxplot.png
assets/._seaborn.svg
Anaconda/seanorn/seaborn/._.DS_Store
Anaconda/seanorn/seaborn/._.ipynb_checkpoints
Anaconda/seanorn/seaborn/._iris.csv
Anaconda/seanorn/seaborn/._seaborn1.ipynb
Anaconda/seanorn/seaborn/._seaborn2.ipynb
Anaconda/seanorn/seaborn/._student.csv
Anaconda/seanorn/seaborn/._vols.csv
Anaconda/seanorn/seaborn/.DS_Store
Anaconda/seanorn/seaborn/iris.csv
Anaconda/seanorn/seaborn/seaborn1.ipynb
Anaconda/seanorn/seaborn/seaborn2.ipynb
Anaconda/seanorn/seaborn/student.csv
Anaconda/seanorn/seaborn/vols.csv
Anaconda/seanorn/seaborn/.ipynb_checkpoints/._seaborn1-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/._seaborn2-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/._Untitled-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/._Untitled1-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/seaborn1-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/seaborn2-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Anaconda/seanorn/seaborn/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
Anaconda/seanorn/._seaborn
Anaconda/seanorn/seaborn.zip
Anaconda/seanorn/._seaborn.zip
Anaconda/seanorn/._student.csv
Anaconda/seanorn/._iris.csv
Anaconda/readme.md
Anaconda/seanorn/._varCorrelation.ipynb
Anaconda/seanorn/._vols.csv
Anaconda/netflix/Projets_analyse des données/._.DS_Store
Anaconda/netflix/Projets_analyse des données/._.ipynb_checkpoints
Anaconda/netflix/Projets_analyse des données/._projet_Netflix
Anaconda/netflix/Projets_analyse des données/._projet_universites_USA
Anaconda/netflix/Projets_analyse des données/.DS_Store
Anaconda/netflix/Projets_analyse des données/projet_Netflix/._.DS_Store
Anaconda/netflix/Projets_analyse des données/projet_Netflix/._.ipynb_checkpoints
Anaconda/netflix/Projets_analyse des données/projet_Netflix/._netflix.csv
Anaconda/netflix/Projets_analyse des données/projet_Netflix/._projet_netflix.ipynb
Anaconda/netflix/Projets_analyse des données/projet_Netflix/.DS_Store
Anaconda/netflix/Projets_analyse des données/projet_Netflix/netflix.csv
Anaconda/netflix/Projets_analyse des données/projet_Netflix/projet_netflix.ipynb
Anaconda/netflix/Projets_analyse des données/projet_Netflix/.ipynb_checkpoints/._projet_netflix-checkpoint.ipynb
Anaconda/netflix/Projets_analyse des données/projet_Netflix/.ipynb_checkpoints/projet_netflix-checkpoint.ipynb
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/._.ipynb_checkpoints
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/._data_universite.xlsx
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/._projet_universite_usa.ipynb
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/data_universite.xlsx
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/projet_universite_usa.ipynb
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/.ipynb_checkpoints/._projet_universite_usa-checkpoint.ipynb
Anaconda/netflix/Projets_analyse des données/projet_universites_USA/.ipynb_checkpoints/projet_universite_usa-checkpoint.ipynb
Anaconda/netflix/Projets_analyse+des+données.zip
Anaconda/netflix/._Projets_analyse+des+données.zip
Anaconda/netflix/._Projets_analyse des données
Anaconda/netflix/._netflix.csv
Anaconda/netflix/analyse/._Netflix.md
Anaconda/netflix/cleaning/._Netflix.md
Anaconda/netflix/analyse/._netflix.zip
Anaconda/netflix/analysis/step1/._netflix.zip
Anaconda/netflix/analysis/step2/._netflix.py
Anaconda/netflix/analysis/step2/._netflix.zip
Anaconda/netflix/analysis/step3/._netflix.py
Anaconda/netflix/analysis/step3/._netflix.zip
Anaconda/netflix/analysis/step4/._netflix.py
Anaconda/netflix/analysis/step4/._netflix.zip
Anaconda/netflix/analysis/step1/netflix.zip
Anaconda/netflix/analysis/step2/netflix.zip
Anaconda/netflix/analysis/step3/netflix.zip
Anaconda/netflix/analysis/step4/netflix.zip
Anaconda/netflix/analysis/step6/._netflix.zip
Anaconda/netflix/analysis/step6/._netflix.py
Anaconda/netflix/analysis/step6/netflix.zip
Anaconda/netflix/analysis/step7/._netflix.zip
Anaconda/netflix/analysis/step7/netflix.zip
Anaconda/netflix/analysis/step7/._netflix.py
Anaconda/netflix/analysis/step8/._netflix.py
Anaconda/netflix/analysis/step8/._netflix.zip
Anaconda/netflix/analysis/step8/netflix.zip
Anaconda/netflix/analysis/step9/._netflix.py
Anaconda/netflix/analysis/step9/._netflix.zip
Anaconda/netflix/analysis/step9/netflix.zip
Anaconda/usUniversities/projet_universites_USA/._.ipynb_checkpoints
Anaconda/usUniversities/projet_universites_USA/._data_universite.xlsx
Anaconda/usUniversities/projet_universites_USA/._projet_universite_usa.ipynb
Anaconda/usUniversities/projet_universites_USA/data_universite.xlsx
Anaconda/usUniversities/projet_universites_USA/projet_universite_usa.ipynb
Anaconda/usUniversities/projet_universites_USA/.ipynb_checkpoints/._projet_universite_usa-checkpoint.ipynb
Anaconda/usUniversities/projet_universites_USA/.ipynb_checkpoints/projet_universite_usa-checkpoint.ipynb
Anaconda/._Projets_analyse+des+données.zip
Anaconda/Projets_analyse+des+données.zip
Anaconda/usUniversities/._projet_universites_USA
Anaconda/netflix/machineLearning/makeRecommendations/._netflix.py
Anaconda/netflix/machineLearning/similarity/._netflix.py
Anaconda/netflix/machineLearning/similarity/._netflix.zip
Anaconda/netflix/machineLearning/similarity/netflix.zip
assets/.DS_Store
assets/images/._greenSnakeCircleDesign.png
assets/logo/._Anaconda.svg
assets/logo/._Jupyter.svg
assets/logo/._Keras.svg
assets/logo/._MatplotlibIcon.svg
assets/logo/._NumPy_2020.svg
assets/logo/._numpy.svg
assets/logo/._Pandas_mark.svg
assets/logo/._Pandas.svg
assets/logo/._seaborn.svg
assets/logo/._seabornLogo.svg
assets/logo/._Tensorflow.png
assets/._logo
assets/images/._snake.svg
assets/images/snake.svg
assets/images/._snake_origin.png
assets/images/snake_origin.png
Anaconda/usUniversities/cleaning/._usUniversities.py
Anaconda/usUniversities/cleaning/._usUniversities.zip
Anaconda/usUniversities/cleaning/usUniversities.zip
Anaconda/usUniversities/analysis/._usUniversities.py
Anaconda/usUniversities/analysis/._usUniversities.zip
Anaconda/usUniversities/analysis/usUniversities.zip
Anaconda/usUniversities/._data_universite.xlsx
docs/.DS_Store
miniProjets/._fileStructure
ENTREZ_UN_CHEMIN_DE_DOSSIER/.DS_Store
exercises/.DS_Store
miniProjets/.DS_Store
projets/.DS_Store
