@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    bottom: 0;
    font-family: 'lato', sans-serif;
}

body {
    background-image: url("manuel-cosentino-n--CMLApjfI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    block-size: cover;
    /* background-color: #000; */
    /* color: #fff; */
}

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    font-display: column;
    align-items: center;
    justify-content: center;
    font-style: 2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .35);
}

h1 {
    color: #ff0000;
}

p {
    color: fff;
}